<h1>Members</h1>


<table class="alt">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Telefone</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let member of members" (click)="memberClicked(member)">
      <td>{{ member.id }}</td>
      <td>{{ member.name }}-{{ member.surname }}</td>
      <td>{{ member.phone }}</td>
    </tr>  

  </tbody>
</table>

<!-- 
<ul>
  <li *ngFor="let member of members" (click)="memberClicked(member)">
    {{ member.id }} - {{ member.name }} - {{ member.surname }}
  </li>
</ul>
-->
<!-- Router outlet é necessário para renderizar os componentes do router module.
  dica: routerlink no html, ao inves de href padrao, renderizará os componentes sem refresh
-->

<br><br><br>

<table class="alt">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Describe</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events" (click)="eventClicked(event)">
      <td>{{ event.id }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.describe }}</td>
    </tr>

  </tbody>
</table>

<br>
<table class="alt">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let fulano of fulanos">
      <td>{{ fulano.id }}</td>
      <td>{{ fulano.nome }}</td>
    </tr>

  </tbody>
</table>


<router-outlet></router-outlet>