<p>Member detail component</p>
Você está editando: {{ selected_member.name }} - {{ selected_member.surname }}


<input type="text" [(ngModel)]="selected_member.id" readonly> <br>
<input type="text" [(ngModel)]="selected_member.name"> <br> 
<input type="text" [(ngModel)]="selected_member.surname"> <br>
<input type="text" [(ngModel)]="selected_member.phone"> <br>

<button (click)="update()" class="button primary">Update Member</button>
<button (click)="delete()" class="button primary">Delete Member</button>

<button (click)="newMember()" class="button primary">Novo</button>
